<div class="solo", id= <%= "solo#{solo.id}" %> >

<%= image_tag solo.picture.url(:thumb) %>>
<div class="solo-quote"><p style="margin-top:75px;"><%=h truncate(solo.quote, length: 80) %></p>
  <%if solo.quote.length > 80 %>
  <p>Full quote is available in the year book.</p>
  <% end %></div>
<p class="solo-name"><%= solo.user.name %></p>
</div>