<% if alert %>  <p class="notification alert"><%= alert %></p> <% end %>
<div class="picture1crop">
  <p>SOLO</p>
</div>

<div class="home">
  <p class="homelink"><%= link_to "HOME", root_path %> > <%= link_to "SOLO", solos_path %> > EDIT</p>
	<%= render 'form' %>
</div>



