<div class="picture1crop">
	<p>SOLO</p>
</div>

<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > SOLO  
<% if user_signed_in? %>
  <% if current_user.solo %>
  
  > <%= link_to "EDIT", edit_solo_path(current_user.solo.id) %> 
  <% end %>
<% end %></p>


<% if user_signed_in? %>
  <% unless current_user.solo %>  
<p class="pricing middle"><%= link_to "Submit your picture here", new_solo_path %></p>
  <% end %>
<% end %>
<div class="solos-box">
<%= render @solos %>
</div>

	

	
</div>
