<div class="picture1crop">
	<p>THANK YOU</p>
</div>
<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > <%= link_to "DESIGN", design_path %> > THANK YOU</p>
	<p class="middle tallcolumns">Thank you for indicating your interest. We will contact you shortly.</p>
</div>
