<% if user_signed_in? %>
<div class="group">
  <div class="image-box"><%= image_tag group.picture.url(:thumb) %>
  <p class="group-cover"><%= group.users.collect(&:full_name).join(", ") %>
  <% if group.users.include?(current_user) %>
  <%= link_to 'Edit', edit_group_path(group) %>
  <% end %>
</p></div>
</div>
<% end %>