<div class="picture1crop">
	<p>GROUP</p>
</div>

<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > GROUP </p>


<% if user_signed_in? %>
  <p class="homelink">
  <% if current_user.groups.count == 0 %>  
  You have no group picture.
  <% else %>
	You have <%= current_user.groups.count %> group picture(s).
  <% end %>
  <p>
  <p class="homelink"><%= link_to "Submit group picture", new_group_path %></p>
<% end %>
<div class="solos-box">
<%= render @groups %>
</div>
</div>
