<div class="picture1crop">
	<p>GROUP</p>
</div>

<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > <%= link_to "GROUP", groups_path %> > SUBMIT</p>
<%= render 'form' %>
</div>

