<div class="picture1crop">
	<p>DESIGN</p>
</div>

<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > DESIGN</p>

	<p class="middle pricing">We are looking for a designer</br>If you would like to help, <%= link_to "click here", solos_volunteer_path %> :)</p>
	<p class="middle tallcolumns">TALL COLUMNS</p>
	<p class="middle designdescription">We have decided on a tall columnar forms to signify the high hope and potential each of us have as we head out into the working world.</p>
	<%= image_tag("sample2.png", size: "1080x751", class: "middle") %>
</div>

