<div class="picture1crop">
	<p>PRICING</p>
</div>

<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > PRICING</p>
	<p class="pricing middle">The price of the year book has not been finalized yet.</br>The expected price is $0 - $5.</p>
	<div class="working"><p>
		Printing cost per year book: $15</br>
		Number of copies: 300</br>
		Total cost: $4,500</br>
		</br>
		Sponsorship and funding: $3,000 - $4,500</br>
		Balance: $0 - $1,500</br>
		Price per year book: $0 - $5
	</p></div>
</div>

