<div class="picture1crop">
	<p>PRICING</p>
</div>

<div class="home">
	<p class="homelink"><%= link_to "HOME", root_path %> > PRICING</p>
	<p class="pricing middle">The price of the year book will be  $0. The yearbook is fully sponsored by ICAEW.</p>
	<div class="working"><p>
		Sponsorship and funding: $6,450</br>
		Printing cost of year book: $3,500</br>
		Tumbler: $2,000</br>
		Namecard holder: $800</br>
		Starbucks card lucky draw: $150</br>
	</p></div>
</div>

