/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face{
  font-family: 'din';
   src:asset-url('din.eot');
    src:asset-url('din.eot') format('embedded-opentype'),
        asset-url('din.ttf') format('truetype'),
        asset-url('din.woff') format('woff'),
        asset-url('din.svg') format('svg');
}

@font-face{
  font-family: 'tra';
   src:asset-url('tra.eot');
    src:asset-url('tra.eot') format('embedded-opentype'),
        asset-url('tra.ttf') format('truetype'),
        asset-url('tra.woff') format('woff'),
        asset-url('tra.svg') format('svg');
}
html, body{
  margin:0px;
  padding:0px;
  overflow-x:hidden;
  
  width:100%;
}
.inline-block{
  display:inline-block;
}
::-webkit-scrollbar { 
    display: none; 
}
.notice, .alert{
  
}
.navbar{
  height:45px;
  width:100%;
  background-color:#ff7f50;
  font-size:0px;
  ul{
    font-size:0px;
    padding:0px;
    margin:0px;
    li{
      list-style-type:none;
      display:inline-block;
      float:right;
      color:white;
      span{
        display:inline-block;
        padding:15px 0px 15px 15px;
        margin-right:-2px;
        font-size:15px;
        line-height:15px;
      }
      a{
        display:inline-block;
        font-size:15px;
        line-height:15px;
        padding:15px;
      }
      a:link{
        color:white;
        text-decoration:none;
      }
      a:visited{
        color:white;
      }
    }
  }
}
.navbar2{
  height:45px;
  width:100%;
  background-color:#ecf284;
  font-size:0px;
  ul{
    font-size:0px;
    padding:0px;
    margin:0px;
    li{
      list-style-type:none;
      display:inline-block;
      text-align:center;
      font-size:15px;
      color:#ff4162;
      a{
        display:inline-block;
        font-size:15px;
        line-height:15px;
        padding:15px;
        text-decoration:none;
      }
      a:link{
        color:#ff4162;
      }
      a:visited{
        color:#ff4162;
      }
    }
  }
}
.container{
  width:980px;
  margin-left:auto;
  margin-right:auto;
}

.tt-menu{
  .tt-dataset{
  background-color:white;
  width:150px;
  padding:0px;
  text-align:left;
    .tt-suggestion{
      padding:3px 5px;
    }
    .tt-suggestion:hover{
      background-color:#ff4162;
      color:white;
    }
  }
  
}
.notification{
  font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: inherit auto;
    line-height: 1.3em;
    padding: 12px;
    text-align: center;
}
.notification-success{
  color: white;
    background-color: #79bd9a;
}
.alert{
  color: white;
    background-color: #f45d5d; 
}
.error_notification{
  font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: inherit auto;
    line-height: 1.3em;
    padding: 12px;
    text-align: center;
    color: white;
    background-color: #f45d5d; 
}