// Place all the styles related to the solos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.solos-box{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    padding-bottom:100px;
    text-align:center;
  }
.upload-picture{
  margin-left:50%;
  transform: translateX(-50%);
  width:165px;
  margin-top:-300px;
}
.solo{
  position:relative;
  display:inline-block;
  margin:0px;
  padding:10px;
  font-family:din;
  text-align:center;
  margin-left:auto;

  .solo-quote{
    display:none;
    position: absolute;
    top: 0px;
    width: 100%;
    height:300px;
    background-color:rgba(255,255,255,0.9);
    p{
      margin-left:auto;
      margin-right:auto;
      width: 200px;
      text-align:center;
      font-size:15px;
      word-wrap: break-word;
      color:#ff4162;
      letter-spacing:2px;
    }
    
  }
  .solo-name{
    position:absolute;
    top:250px;
    margin:0px;
    padding:5px 20px;
    height:20px;
    line-height:20px;
    font-size:13px;
    background-color:#10aeb2;
    color:white;
  }
}
.solo-questions{
  clear:both;
  margin-top:235px;
  display:block-inline;
  margin-left:50%;
  transform: translateX(-50%);
  text-align:center;
  width:845px;
  .lorem-box{
      vertical-align: top;  
      width:165px;
      height:165px;
      padding:0px;
      margin:0px;
      text-align:justify;
      font-size:12px;
      font-family:din;
      display:inline-block;
  }
  .input{
    display:inline-block;
    width:165px;
    height:165px;
    textarea#solo_quote{
      width:163px;
      height:163px;
      padding:0px;
      margin:0px;
      
      
      text-align:justify;
      font-size:12px;
      font-family:din;
    } 
  }
  p{
    font-size:15px;
    height:30px;
  }
}
.text{
  margin-bottom:20px;
  p{
    width:300px;
  }
}
textarea{
  width:280px;
  height:280px;
  font-size:13px;
  letter-spacing:1px;
  padding:10px;
}
input#solo_qn9, input#solo_qn10{
  width:300px;
  height:40px;
  margin-bottom:10px;
}

input#solo-submit{
  -webkit-appearance: none;
  display:inline-block;
  border:none;
  
  padding:20px 40px;
  margin:40px;
  font-size:20px;
}
input#solo-submit:hover{
  background-color:#10aeb2;
  color:white;
}

#delete-solo{
  background-color:#C1C1C1;
  display:inline-block;
  border:none;
  color:white;
  padding:20px 40px;
  margin:40px;
  font-size:20px;
  text-decoration:none;
}
#delete-solo:visited{
  color:white;
}
#delete-solo:hover{
  background-color:#ff4162;
}
#edit-solo{
  display:inline-block;
  background-color:#17deee;
  border:none;
  color:lighten(black,30%);
  padding:40px;
  margin:40px;
  font-size:20px;
  text-decoration:none;
}
#edit-solo:visited{
  color:lighten(black,30%);
}
#edit-solo:hover{
  background-color:#10aeb2;
  color:white;
}
.lookblank{
  width:118px;
  height:366px;
  border:3px solid #2E75B6;
  display:inline-block;

}
